$footer-search-button-value: 15px;
$footer-height: 125px;
$navbar-height: 100px;
$greenish-color: #33B864;

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    #footer-links {
      flex-direction: row;
    }
  }
}

*{
  font-family: Verdana, sans-serif;
}

// for all images in every page
img {
  border-radius: 10%;
  border: 2px solid $greenish-color;
  object-fit: cover;
}

a{
  text-decoration: none;
}

.topic{
  font-family: Georgia;
}

h1{
  font-size: 60px;
}

.navbar-brand, .nav-link, #navbar-button{
  color: $greenish-color !important;
}

.navbar {
  height:100px;
  background-color: white !important;
  font-family: Georgia !important;
  font-size: 1.35em;
  font-weight: 600;
  #navbar-button {
    border-color: $greenish-color;
  }
  #navbar-button:hover {
    color: #f6f6f6 !important;
  }
}

#__next{
  #main-page{
    min-height: calc(100vh - $footer-height - $navbar-height);
    max-width: 100vw;
    #topic-page{
      height:350px;
      #title-box{
        width:80vw;
        .main-page-topic{
          font-family: Georgia !important;
          color:$greenish-color;
          font-weight: 800;
          font-size: 60px;
          text-transform: uppercase;
        }
      }
    }
    .pages{
      min-height:500px;
      margin-bottom: 100px;
      .image-block{
        row-gap:50px;
      }
    }
  }
  footer{
    background-color: $greenish-color;
    height: $footer-height;
    a{
      color:whitesmoke;
      text-decoration: none;
    }
    #footer-links{
      font-size: 1.2em;
      row-gap: 25px;
      font-weight: 500;
    }
    #footer-search-bar{
      height:$footer-search-button-value * 4;
      input::placeholder{
        font-size:20px;
      }
      #search-button{
        padding:$footer-search-button-value;
        font-size:20px;
        color: #f6f6f6;
        border-color: #f6f6f6;
      }
    }
  }
}

.fade-in-image {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
