$footer-search-button-value: 15px;
$footer-height: 250px;
$navbar-height: 56px;

img {
  border-radius: 10%;
  border: 2px solid olive;
}


*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-page{
  min-height: calc(100vh - $footer-height - $navbar-height);
  max-width: 100vw;
  .pages{
    min-height:500px;
    .image-block{
      row-gap:50px;
    }
  }
}

footer{
  background-color: mediumaquamarine;
  min-height: $footer-height;
  a{
    color:whitesmoke;
    text-decoration: none;
  }
  #footer-links{
    font-size: 1.25em;
    row-gap: 25px;
  }
  #footer-search-bar{
    height:$footer-search-button-value * 4;
    input::placeholder{
      font-size:20px;
    }
    #search-button{
      padding:$footer-search-button-value;
      font-size:20px;
    }
  }
}



@media (min-width:576px) and (max-width: 768px) {
  #__next{
    footer {
      flex-direction: column;
      #footer-links{
        flex-direction: row;
      }
    }
  }
}
