@media (max-width: 992px) {
  #search-and-filter,
  #prev-and-next-button {
    padding: 0 100px;
  }
}

#search-and-filter, #prev-and-next-button{
  padding: 0 200px;
}

#main-page{
  #prev-and-next-button{
    height: 54px;
    .page-buttons {
      padding: 12.5px 25px;
      font-size: 18px;
    }
    #next-button {
      float: right;
    }
  }
  #recipes{
    padding: 0 100px;
    row-gap: 40px;
    margin: 0 0 100px;
    .recipe-card {
      a {
        text-decoration: none;
      }
      .card-header {
        min-height: 75px;
      }
    }
  }
}
