@media (max-width: 768px) {
  #recipe-card {
    #dish-name{
      font-size: 30px;
    }
    img{
      width:375px;
      height:250px;
    }
    #tags{
      .badge{
        padding: 18px;
        font-size: 1em;
      }
    }
  }
}
#dish-name{
  font-size: 40px;
  font-weight:400px;
}

.basic-info{
  border: 2px black solid;
}
#tags{
  .badge{
    padding: 25px 35px;
    font-size: 1.2em;
  }
}
.carousel{
  width:70%;
  min-height: 600px;
  border: 5px solid #33B864;
  background-color: beige;
  border-radius:25px;
  .carousel-inner{
    width:80%;
    margin: 25px 0 ;
  }
}
.nav-tabs, .tab-content{
  width:60%;
}

.ingredients, .equipment {
  width: 200px;
  height: 175px;
}
